.menu{
  float: center;
}
nav{
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 30px;

  position: sticky;
  top: 0;
  background: white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li{
  float:right;
}

 nav ul li a{
  color: black;
  margin: 20px;
  padding: 10px 30px 10px 30px;
  text-align:center;
  font-size: 15px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #646e66;
}