
*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* section{
  height: 100vh;
} */

 .container{
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  padding-top: 0%;
}

.wrapper{
  width: 100%;
  height: 80px;
  background-color: crimson;
}

.navigation{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.nav{
  list-style-type: none;
  padding: 20px;
  margin: 5px;
  cursor: pointer; 
}


.nav:hover{
  background-color: white;
  border-radius: 10px;
  transition: all ease-in-out .2s;
}

.nav:hover > a {
  color: black;
}

.navlink{
  color: white;
  font-size: 1.2m;
  font-weight: 600;
  text-decoration: none;
}